.footer {
  width: 100%;
  color: var(--color-texto);
  padding: 2rem 1rem;
  margin-top: 500px;
}

.footer__section {
  display: flex;
  flex-direction: column; /* columna */
  gap: 2rem;
}

.footer__article {
  margin-left: 0; 
}

.footer__item {
  list-style: none;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-top:2px solid var(--color-principal);
}
.footer__copy{
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .footer__section {
    flex-direction: row; /* Desktop: fila */
    justify-content: space-around; 
    align-items: flex-start;
  }
  
  .footer__article {
    margin-left: 0;
  }
}
