:root {
  --color-principal: #C3AED6;   /* Lila pastel */
  --color-secundario: #E2F0CB;  /* Verde menta pastel */
  --color-terciario: #FFD6E0;   /* Rosa pastel */
  --color-acento: #FFECB3;      /* Amarillo pastel */
  --color-texto: #333333;       /* Texto oscuro */
  --color-fondo: #F9F9F9;       /* Fondo general */
}

/* Reset y tipografía */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/fonts/Nunito-Regular.ttf");
}

#fuentepersonalizada{
    font-family: "Nunito-Regular";

}
body {
  font-family: 'Nunito-Regular', sans-serif;
    background: linear-gradient(135deg, #A8DADC, #F1FAEE);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
background: linear-gradient(135deg, #A8DADC, #F1FAEE);
min-width: 600px;
max-width: 1200px;
width:100%;
display:grid;
grid-template-columns: 1fr;
grid-template-areas: 
"header";
}
.header{
  grid-area: header;
}
.header__logo-container{
    display:none;
}
.header__user-container{
    display:none;
}