:root {
  --color-principal: #C3AED6;
  --color-secundario: #E2F0CB;
  --color-terciario: #FFD6E0;
  --color-acento: hsl(45, 100%, 85%);
  --color-texto: #333333;
  --color-fondo: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Fuente personalizada*/
@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/fonts/Nunito-Regular.ttf");
}

#fuentepersonalizada {
  font-family: "Nunito-Regular";

}

.body {
  font-family: 'Nunito-Regular', sans-serif;
  background: linear-gradient(135deg, #A8DADC, #F1FAEE);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Contenedor principal*/
.container {
  min-width: 600px;
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "intro"
    "languages"
    "backend-frontend"
    "metodologia"
    "grid-general";
}
.container--languages{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "languages"
    "backend-frontend";
}
.container--cursos{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-areas:
    "courses"
    "curso-lista";
   
  gap: 2rem;
}
/*Grid Area*/
.header {
  grid-area: header;
}

.intro {
  grid-area: intro;
}

.metodologia {
  grid-area: metodologia;
}

.grid-general {
  grid-area: grid-general;
}

.languages {
  grid-area: languages;
}
.backend-frontend{
  grid-area: backend-frontend;
}
.courses{
  grid-area: courses;
}
.curso-lista { 
  grid-area: curso-lista; 
}
.footer {
  grid-area: footer;
}

/*Desaparicion de logo y user*/
.header__logo-container {
  display: none;
}

.header__user-container {
  display: none;
}

.intro__image {
  display: none;
}

/*Estilos*/
/*inicio.html*/
.intro-text {
  text-align: center;
  margin-top: 10px;

}

.intro__title {
  color: var(--color-principal);
  font-size: 1.5rem;
}

.intro__description {
  color: var(--color-texto);
  font-size: 1rem;
  line-height: 1.6;
}


/* Contenedor del botón */
.intro__actions {
  margin-top: 1.5rem;
  text-align: center;
}

/* Botón principal */
.intro__btn {
  display: inline-block;
  background-color: var(--color-principal);
  color: var(--color-texto);
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  letter-spacing: 0.03rem;
  width: 250px;
  cursor: pointer;
  border: none;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease,
    letter-spacing 0.3s ease;
}

/* Efecto hover */
.intro__btn:hover {
  color: white;
  background-color: var(--color-secundario);
  transform: scale(1.05);
  letter-spacing: 0.075rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/*Metodología*/
.metodologia {
  padding: 4rem 2rem;
  text-align: center;
  margin-top: 20px;

}

.metodologia__title {
  color: var(--color-principal);

}

.metodologia__container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  flex-direction: column;
  /* Mantiene las tarjetas en columna */
  gap: 2rem;
  margin-top: 2rem;

}

/*Estructura de la Tarjeta */
.step-card {
  position: relative;
  width: 300px;
  height: 220px;
  background-color: var(--color-primario);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);


}

/* Parte Frontal */
.step-card__front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-texto);
  transition: 0.5s;
}

.step-card__front i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.step-card__number {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0.3;
}

/*Cortina*/
.step-card__back {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  transition: top 0.5s ease-in-out;
}

/* Activación del efecto */
.step-card:hover .step-card__back {
  top: 0;
}

.step-card:hover .step-card__front {
  transform: translateY(-20px);
  opacity: 0.5;
}

/*Por que elegirnos*/
.grid-general {
  padding: 4rem 2rem;
  text-align: center;
  margin-top: 10px;
}

.grid-general__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.grid-item {
  background-color: var(--color-secundario);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item i {
  margin-bottom: 1rem;

}

.grid-general__title {
  text-align: center;
  color: var(--color-principal);
  font-size: 1.5rem;
  font-weight: bolder;
}

.grid-item h3 {
  color: var(--color-texto);
}


/*Lenguajes.html*/
.languages {
  width: 100%;
  margin: 20px 10px;
}

.languages__table {
  width: 100%;
  border-collapse: collapse; /* Evita espacios entre bordes */
}

.languages__head {
  background-color: var(--color-principal);
}

.languages__cell {
  border: 1px solid var(--color-texto);
  padding: 10px;
  text-align: center;
}

.languages__cell--head {
  font-weight: bold;
  color: #fff;
}

.languages__row {
  height: 50px; /* Altura fija para todas las filas */
}
.languages__row--mod{
  background-color: var(--color-terciario);
}
.backend-frontend__article{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.backend-frontend__title{
  color: var(--color-principal);
}
/* Contenedor principal */
.backend-frontend__content {
  display: flex;
  gap: 20px; /* espacio entre las tarjetas */
  justify-content: center;
  flex-wrap: wrap; /* para que se adapte en pantallas pequeñas */
  margin-top: 20px;
}
/* Tarjeta general */
.backend-frontend__card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Efecto hover con rotateY */
.backend-frontend__card:hover {
  transform: rotateY(10deg); 
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


/* Diferenciar Frontend y Backend */
.backend-frontend__card--frontend {
  border-top: 4px solid #4CAF50; 
}

.backend-frontend__card--backend {
  border-top: 4px solid #2196F3; 
}

/* Subtítulos */
.backend-frontend__subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

/* Texto dentro de la tarjeta */
.backend-frontend__text {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

/* Párrafos */
.backend-frontend__paragraph {
  margin-bottom: 10px;
}


/*Curso.html*/
.cursos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "courses lista"
    "formulario formulario";
  gap: 2rem;
  align-items: start;
}

.courses{
   text-align: center;
  padding: 2rem;

}
.courses__title{
  color:var(--color-principal);
}
.courses__description{
  margin-bottom: 10px;
}
.courses__button{
    margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-principal);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
.courses__button:hover {
 background-color: var(--color-secundario);
}
.curso-lista{
margin-top: 20px;
  gap: 1rem;
  text-align: center;
}
.curso-lista__title{
  color:var(--color-principal);
}
.curso-lista__item{
    border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  background-color: var(--color-terciario);
  margin-top:10px;
}
/* Formulario de inscripción */
.formulario-inscripcion {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid var(--color-principal);
  border-radius: 10px;
 
}
.formulario-container__label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}
.formulario-container__input:focus {
  border: 2px solid var(--color-principal);
  outline: none;
}
.formulario-container__input{
 width: 95%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid var(--color-principal);
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-texto);
  background-color: #fff;
}

.formulario-inscripcion-title{
  color:var(--color-principal);
}

.formulario-container__select{
  width: 95%;
margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid var(--color-principal);
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-texto);
  background-color: #fff;
}
.formulario-container__select:focus{
    border: 2px solid var(--color-principal);
  outline: none;
}
.formulario__option{
  color:var(--color-terciario);
}
/* Botón de envío */
.formulario-container__button{
    width: 50%;
  padding: 10px;
  margin: 10px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-principal);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.formulario-container__button:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto);
}